:root{
    --blue:#0053ad;
    --gray30:#303030;
    --gray25:#252525;
    --gray19:#191919;
    --graya:#aaa;
    --grayf7:#F7F7F7;
    --grayef:#EFEFEF;
}

* {
    box-sizing: border-box;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 400;
    color:var(--gray30);
    margin: 0 0 10px 0;
}

h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin: 0 0 10px 0;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

main{
    margin: 0 auto;
    max-width: 1280px;
    box-shadow: 0 0 12px rgb(0 0 0 / 15%);
    overflow: hidden;
}

header{
    display: flex;
    padding:30px 65px;
}

header > div{
    display: flex;
    justify-content: end;
    align-items: center;
    flex-grow: 1;
}

header a{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: black;
    margin: 0 20px;
    color: var(--gray30);
}

header a:active{
    color:var(--blue);
}

.info{
    padding:65px;
}



#contact{
    background-color: var(--gray19);
    padding: 65px;
    display: flex;
}

#contact div{
    width: 50%;
}

#contact img {max-width: 250px;}

#contact h3{
    font-size: 23px;
    font-weight: 400;
    color:var(--graya);
}


footer{
    background-color: var(--gray25);
    padding: 10px 65px;
    font-size: 12px;
    font-weight: 700;
    color:var(--graya);
    text-align: right;
}    



#about{
    padding: 65px;

}


#about div{
    padding: 28px;
    border-radius: 4px;
    border: 1px solid var(--grayef);
    background-color: var(--grayf7);
    display: inline-block;
    max-width: calc(100% - (230px + 65px) );
}



#about img{
    width: 230px;
    display: inline-block;
    float: right;
}







#services{
    padding: 25px;
    position: relative;
}

#services::after{
    content:'';
    width: 100%;
    height:100%;
    background-color: #F2DAAE;
    background-image: url('./images/services.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: brightness(70%);
    display: block;
    position:absolute;
    top:0;
    left: 0;
    z-index: -1;
}

#services > h3{
    margin: 15px;
    color: white;
    text-shadow: 0 0 6px rgba(0, 0, 0, .9);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 28px;
}

.serviceWrapper{
    display: flex;
}

.serviceWrapper .title{
    text-align: center;
    font-weight: 600;
    border-bottom: 1px solid black;
    padding:0 0 15px 0;
    font-size: 18.6px;
    margin:0;
}

.serviceWrapper > div{
    flex: 1;
    background-color: white;
    margin: 15px;
    padding: 25px;
}



.parallaxWrapper{
    height: 450px;
    background-color: #333;
    overflow: hidden;
    /* display: flex;
    align-items: center; */
    position: relative;
}

.parallaxWrapper > img{
    width: 100%;
    position: absolute;
}

.parallaxWrapper > div{
    /* background-color: red; */
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
}